@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Pixelify Sans', sans-serif;
  background-color: theme('colors.bg');
}

@layer base {
  html {
    scroll-behavior: smooth;
    font-family: 'Pixelify Sans', sans-serif;
  }

  .text-outline-4 {
    -webkit-text-stroke: 4px theme('colors.secondary');
  }

  .text-outline-8 {
    -webkit-text-stroke: 8px theme('colors.secondary');
  }

  .bordered {
    filter: drop-shadow(0 -4px 0px theme('colors.blackBorder'))
      drop-shadow(-4px 0 0px theme('colors.blackBorder'))
      drop-shadow(0 4px 0px theme('colors.blackBorder'))
      drop-shadow(4px 0 0px theme('colors.blackBorder'));
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
